@import "tailwindcss";

@theme {
  --color-petrol: #1C2B32;
  --color-petrol-light: #30414B;
  --color-cream: #FBFBF7;
  --color-accent: #FF8844;
  --color-accent-hover: #ff9a5c;
}

/* Bilder nicht kopierbar / nicht ziehbar */
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  pointer-events: auto;
}